.root {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--c-gray-dark);

  @media screen and (max-width: 500px) {
    flex-direction: column;
  }
}

.logo {
  text-transform: uppercase;
  font-weight: lighter;
  color: inherit;
  text-decoration: none;
  font-size: 24px;

  @media screen and (max-width: 500px) {
    margin: 16px 0;
  }
}
