.root {
  --c-bg: #ececec;

  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: var(--c-bg);
  padding: 0 1rem 1rem 1rem;
  max-width: 500px;
  margin: 0 auto;
}

:global(body.dark) .root {
  --c-bg: #1b262e;
}
